@page "/dam/edit"
@inject NavigationManager Navigation

<style>

</style>

<head>
    <link rel="stylesheet" href="Edit.css" />
</head>

<h1>Product Details</h1>

@if (productId != null)
{
    <p><strong>Product ID:</strong> @productId</p>
}
else
{
    <p>Product not found.</p>
}

@code {
    private string? productId;
    private string? productName;
    private string? productUrl;

    protected override void OnInitialized ()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (queryParams.TryGetValue("productId", out var id))
            productId = id;
    }

    public List<Image> GetImagesFromDb ()
    {
        return null;
    }
    
    public class Image ()
    {
        private string url { get; set; }
    }
}